<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carrental.crud.dao.ProductMapper">
   	<!-- 查询所有图片 -->
   	<select id="list" resultType="com.carrental.crud.bean.Product">
   		select pid, pimage from product
   	</select>
   	
   	<insert id="save" parameterType="com.carrental.crud.bean.Product">
   		insert into product(pimage) values(#{pimage})
   	</insert>
</mapper>
