<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carrental.crud.dao.VehicleClassMapper">
  <resultMap id="BaseResultMap" type="com.carrental.crud.bean.VehicleClass">
    <id column="vehicle_class_number" jdbcType="INTEGER" property="vehicleClassNumber" />
    <result column="vehicle_class" jdbcType="VARCHAR" property="vehicleClass" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    vehicle_class_number, vehicle_class
  </sql>
  <select id="selectByExample" parameterType="com.carrental.crud.bean.VehicleClassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_vehicleclass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_vehicleclass
    where vehicle_class_number = #{vehicleClassNumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_vehicleclass
    where vehicle_class_number = #{vehicleClassNumber,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.carrental.crud.bean.VehicleClassExample">
    delete from tbl_vehicleclass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.carrental.crud.bean.VehicleClass">
    insert into tbl_vehicleclass (vehicle_class_number, vehicle_class)
    values (#{vehicleClassNumber,jdbcType=INTEGER}, #{vehicleClass,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.carrental.crud.bean.VehicleClass">
    insert into tbl_vehicleclass
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vehicleClassNumber != null">
        vehicle_class_number,
      </if>
      <if test="vehicleClass != null">
        vehicle_class,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vehicleClassNumber != null">
        #{vehicleClassNumber,jdbcType=INTEGER},
      </if>
      <if test="vehicleClass != null">
        #{vehicleClass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.carrental.crud.bean.VehicleClassExample" resultType="java.lang.Long">
    select count(*) from tbl_vehicleclass
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_vehicleclass
    <set>
      <if test="record.vehicleClassNumber != null">
        vehicle_class_number = #{record.vehicleClassNumber,jdbcType=INTEGER},
      </if>
      <if test="record.vehicleClass != null">
        vehicle_class = #{record.vehicleClass,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_vehicleclass
    set vehicle_class_number = #{record.vehicleClassNumber,jdbcType=INTEGER},
      vehicle_class = #{record.vehicleClass,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.carrental.crud.bean.VehicleClass">
    update tbl_vehicleclass
    <set>
      <if test="vehicleClass != null">
        vehicle_class = #{vehicleClass,jdbcType=VARCHAR},
      </if>
    </set>
    where vehicle_class_number = #{vehicleClassNumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.carrental.crud.bean.VehicleClass">
    update tbl_vehicleclass
    set vehicle_class = #{vehicleClass,jdbcType=VARCHAR}
    where vehicle_class_number = #{vehicleClassNumber,jdbcType=INTEGER}
  </update>
</mapper>